@font-face {
    font-family: "Istok Web";
    src: url(assets/fonts/IstokWeb-Regular.ttf);
}

@font-face {
    font-family: "Istok Web";
    src: url(assets/fonts/IstokWeb-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Poppins";
    src: url(assets/fonts/Poppins-Light.ttf);
    font-weight: 200;
}

@font-face {
    font-family: "Poppins";
    src: url(assets/fonts/Poppins-Bold.ttf);
    font-weight: 700;
}


:root {
    --primary-color: #013456;
    --accent-color: #FAD405;
}


.header{
    display: flex;
    justify-content: space-between;
    padding-top: 81px;
    max-width: 1231px;
    margin: 0 auto;
    font-family: "Istok Web";
}


.header_title{
    margin: 0;
    display: flex;
    align-items: center;
}

.header span{
    font-weight: 700;
    font-size: 40px;
    margin-right: 10px;
    color: var(--primary-color);
}

.header .plane-icon{
    color: var(--accent-color);
}

.header .menu-icon,
.header .close-icon{
    display: none;
}

.header_nav a{
    text-decoration: none;
    margin-left: 29px;
    font-size: 36px;
    color: var(--primary-color);
}

.header_nav{
    display: flex;
    align-items: center;
    height: 52px;
    margin-right: 10px;
}

.wrapper{
    display: flex;

}

.wrapper aside{
    width: 50%;
    margin-top: 46px;
    position: relative;
}

.book_circle{
    width: 785px;
    height: 785px;
    background-color: var(--accent-color);
    border-radius: 50%;
    position: absolute;
    right: 84px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.book{
    height: 785px;
    margin-bottom: 55px;
}

main{
    width: 50%;
    margin-top: 91px;
    max-width: 571px;
}

main h1{
    color: var(--primary-color);
    font-size: 48px;
    font-weight: 700;
    font-family: "Poppins";
    margin-top: 0;
    margin-bottom: 14px;
}


main p{
    font-size: 20px;
    font-family: "Poppins";
    font-weight: 200;
    margin-bottom: 50px;
    color: black;
}

.btn{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.btn-buy{
    background-color: var(--accent-color);
    font-size: 32px;
    font-family: "Poppins";
    font-weight: bold;
    color: var(--primary-color);
    cursor: pointer;
}

.btn button{
    border: none;
    border-radius: 50px;
    padding: 16px 47px;
}

.btn-read{
    background-color: var(--primary-color);
    font-size: 32px;
    font-weight: bold;
    color: white;
    font-family: "Poppins";
    cursor: pointer;
}

@media screen and (max-width: 1400px) {
    .header{
        width: 90%;
        padding-top: 20px;
    }

    .header_nav{
        position: absolute;
        background-color: var(--primary-color);
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: none;
    }

    .header_nav a{
        color: var(--accent-color);
        display: block;
        text-align: center;
        margin: 20px 0;
    }

    .header .menu-icon {
        display: block;
        font-size: 30px;
        color: var(--primary-color);
        line-height: 45px;
        cursor: pointer;
    }

    .header .close-icon{
        display: none;
        z-index: 1;
        font-size: 30px;
        position: absolute;
        top: 20px;
        right: 20px;
        color: var(--accent-color);
        cursor: pointer;
    }
    
    .wrapper{
        flex-direction: column;
        align-items: center;
    }

    .main,
    .wrapper aside{
        width: 90%;
        max-width: 100%;
        margin-top: 20px;
    }

    .book_circle img{
       max-width: 150px;
    }

    .book_circle{
        position: initial;
        max-width: 300px;
        max-height: 300px;
        width: 100%;
        margin: 0 auto;
    }

    .book{
        height: 300px;
        margin-bottom: 0;
    }

    main{
        margin-top: 10%;
    }

    main h1{
        font-size: 24px;
    }

    main p{
        font-size: 16px;
    }

    .btn-buy,
    .btn-read{
        font-size: 16px;
    }

    .btn button{
        padding: 16px 25px;
    
    }

}